.heading-primary{
  color:$color-grey-dark;
  margin-bottom:6rem;
  text-transform: uppercase;
  backface-visibility: hidden;


  &--sub{
    font-size: $standard-font;
    font-weight:700;
    letter-spacing: 1.75rem ;
    animation: moveInRight 1s ease-in 1;
  }


  &--main{
    font-size: 4rem;
    font-weight:400;
    display: block;
    animation: moveInLeft 1s ease-in 1;
    letter-spacing: 3.5rem;
  }

}

body{
  font-family: "Lator", sans-serif;
  font-weight:400;
  color:$color-uni;
  line-height:1.7;
}


.heading-secondary{
  font-size:3.5rem;
  font-weight:700;
  text-transform: uppercase;
  display:inline-block;
  -webkit-background-clip: text;
  color:transparent;
  letter-spacing: 2px;
  transform:skewY(0deg) scale(1.1);
  transition: transform .3s;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);

  &:hover{
      transform:skewY(2deg) scale(1.2);
      transition: all .3s;
      text-shadow: .5rem 1rem 2rem rgba($color-black,.2);
    }
}


.heading-tertiary{
  font-size: $standard-font;
  font-weight:700;
  text-transform: uppercase;
}
.paragraph{
  font-size:  $standard-font;

  &:not(:last-child){
    margin-bottom:3rem;
  }
}
